
/* line 208 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */

/* line 1 : /Users/eswat/Ruck/ottawa-assembly/node_modules/stylus/lib/functions/index.styl */

/* line undefined : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
/*------------------------------------*     #VARIABLES
\*------------------------------------*/

/* line 16 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
/*------------------------------------*     #ELEMENTS
\*------------------------------------*/

/* line 19 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
* {
  box-sizing: border-box;
}

/* line 23 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
html {
  height: 100%;
  font: 400 13px/20px ff-schulbuch-nord-web, 'helvetica neue', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 29 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #000;
  color: #fff;
}

/* line 37 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
h1 {
  margin: 0;
}

/* line 44 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
/*------------------------------------*     #PRIMER
\*------------------------------------*/

/* line 47 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.primer {
  padding: 10px;
  height: 75px;
  padding-top: 25px;
  text-align: center;
}

/* line 54 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.primer--title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* line 61 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.primer--sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #bbb;
  margin-top: 10px;
}

/* line 68 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.inex-logo {
  position: absolute;
  top: 28px;
  left: 10px;
  font-size: 75px;
  line-height: 0;
  margin: 0 auto;
  color: #fff;
}

/* line 78 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.calendar-link {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 40px;
}

/* line 88 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.calendar-link:hover {
  color: #f00;
}

/* line 95 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
/*------------------------------------*     #CALENDAR
\*------------------------------------*/

/* line 98 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.calendar-shell {
  margin-top: 20px;
  padding: 10px;
  height: calc(100% - 95px);
}

/* line 104 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.calendar,
.week {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

/* line 111 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.days-of-week {
  position: relative;
  top: 3px;
}

/* line 116 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.days-of-week--label {
  text-transform: uppercase;
  text-align: right;
  font-size: 11px;
  padding: 0 10px;
}

/* line 123 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.week-wrap:first-of-type {
  border-top: 1px solid #111;
}

/* line 127 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.week {
  position: relative;
  margin-top: -1px;
}

/* line 132 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.day {
  border: 1px solid #111;
  border-top: 0;
  padding: 10px;
  vertical-align: top;
}

/* line 139 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.day-label {
  font-size: 13px;
  color: #fff;
  margin: 0;
  float: right;
}

/* line 146 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */

/* line 148 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.day--today .day-label {
  color: #f00;
}

/* line 152 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.day--outside {
  background: rgba(17,17,17,0.5);
}

/* line 156 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event {
  position: relative;
}

/* line 160 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event__label {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 5px;
  clear: both;
}

/* line 168 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event__label:hover {
  color: #f00;
  cursor: pointer;
}

/* line 173 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event__time {
  font-weight: 600;
}

/* line 177 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  padding: 10px;
  background-color: rgba(0,0,0,0.9);
  border: 1px solid #111;
  z-index: 9;
}

/* line 188 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event-details__title {
  margin: 0;
  font-size: 16px;
}

/* line 193 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.event-details__description {
  max-height: 300px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 203 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
/*------------------------------------*     #MODIFIERS
\*------------------------------------*/

/* line 206 : /Users/eswat/Ruck/ottawa-assembly/src/stylus/app.styl */
.hidden {
  display: none !important;
}
