cBlack = #000
cGreyDark = #191919
cGrey = #bbb
cWhite = #fff
cRed = #f00
zModal = 9

*
  box-sizing: border-box

html
  height: 100%
  font: 400 13px/20px ff-schulbuch-nord-web, 'helvetica neue', arial, sans-serif
  -webkit-font-smoothing: antialiased

body
  padding: 0
  margin: 0
  height: 100%
  background: cBlack
  color: cWhite

.primer
  padding: 10px
  height: 12%

h1
  margin: 0

.calendar-shell
  padding: 10px
  height: 88%

.calendar,
.week
  table-layout: fixed
  width: 100%
  height: 100%
  border-collapse: collapse

.days-of-week
  position: relative
  top: 3px

.days-of-week--label
  text-transform: uppercase
  text-align: right
  font-size: 11px
  padding: 0 10px

.week-wrap:first-of-type
  border-top: 1px solid cGreyDark

.week
  position: relative
  margin-top: -1px

.day
  border: 1px solid cGreyDark
  border-top: 0
  padding: 10px
  vertical-align: top

.day-label
  font-size: 13px
  color: cGrey
  margin: 0
  float: right

.day--today

  ._day-label
    color: cRed

.day--outside
  background: rgba(cRed, .05)

.event
  position: relative

.event__label
  font-weight: 400
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  margin: 0 0 5px
  clear: both

.event__time
  font-weight: 600

.event-details
  position: absolute
  top: 0
  left: 0
  width: 300px
  padding: 10px
  background-color: rgba(cBlack, 0.9)
  border: 1px solid cGreyDark
  z-index: zModal

.event-details__title
  margin: 0
  font-size: 16px

.event-details__description
  max-height: 300px
  margin: 0
  overflow-y: scroll
  overflow-x: hidden

.hidden
  display: none !important
