cBlack = #000
cGreyDark = #191919
cGrey = #bbb
cWhite = #fff

*
  box-sizing: border-box

html
  height: 100%
  font: 400 13px/20px ff-schulbuch-nord-web, 'helvetica neue', arial, sans-serif
  -webkit-font-smoothing: antialiased

body
  padding: 10px
  margin: 0
  background: cBlack
  color: cWhite

.calendar
  table-layout: fixed
  width: 100%
  border-collapse: collapse

.calendar__heading-days-label
  text-transform: uppercase
  text-align: right
  font-size: 11px
  padding: 0 10px

.calendar__week
  height: 100px

.calendar__day
  border: 1px solid cGreyDark
  padding: 10px
  height: 150px
  vertical-align: top

.calendar__day-label
  font-size: 13px
  color: cGrey
  margin: 0
  float: right

.calendar__event-label
  font-weight: 400
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  margin: 0
  clear: both

.calendar__event-time
  font-weight: 600

.hidden
  display: none !important
