doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="#{author}")
    meta(name="description", content="#{description}")
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet" href="https://fontastic.s3.amazonaws.com/eNhnFhSXNVMSix7deU2odb/icons.css")
    script(src="//use.typekit.net/wik2btu.js")
    script.
      try{Typekit.load();}catch(e){}
  body
    #primer.primer
      h1.primer--title Ottawa Tech Events
      h2.primer--sub-title
        = "for "
        span#month-heading
      i.inex-logo
      a.calendar-link(href="https://www.google.com/calendar/embed?src=infilexfil.com_ij0amp5h2lir3tlf4sqfpb2geo%40group.calendar.google.com&ctz=America/Toronto") Google Calendar

    #calendar.calendar-shell

    script(src="js/react.min.js")
    script(src="js/jquery-2.1.1.min.js")
    script(src="js/moment.min.js")
    script(src="js/app.js")
