doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="#{author}")
    meta(name="description", content="#{description}")
    link(rel="stylesheet", href="css/app.css")
    script(src="//use.typekit.net/wik2btu.js")
    script.
      try{Typekit.load();}catch(e){}
  body
    #primer.primer
        h1 Ottawa Tech Events
    #calendar.calendar-shell

    script(src="js/react.min.js")
    script(src="js/jquery-2.1.1.min.js")
    script(src="js/moment.min.js")
    script(src="js/app.js")
